<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
      <app-search-input 
        placeholder="Buscar país..."
        [initialValue] = "initialValue"
        (onDebounce)="onSearch($event)"></app-search-input>  
    </div>
</div>

<!-- Codigo para la lista de sugerencias -->
<!-- <ul class="list-group">
    <li *ngFor="let country of suggestedCountries" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/paises/pais', country.cca3]">{{country.name.common}}</a>
    </li>
    <li class="list-group-item list-group-item-action" (click)="buscarSeguerido(searchTerm)">
        <a class="nav-link">Buscar "{{searchTerm}}"</a>
    </li>
</ul> -->

<hr>

<div class="row">
    <div class="col">
        <app-loader-spinner *ngIf="isLoading"></app-loader-spinner>
       <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>